/* Scss Document */
@media screen and (min-width: 50em) {
  body {
    font-size: 14px; }

  .title p {
    padding-bottom: 15px; }

  .shift {
    padding-top: 36px; } }
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px; }

header h1 {
  margin-top: 43px;
  font-size: 27px;
  font-weight: 300;
  color: #E4E4E4; }

input {
  padding: 8px;
  width: 100%;
  margin-bottom: 15px; }

select {
  height: 2.2375rem;
  padding: 0.35rem;
  font-size: .85rem; }

.title h2 {
  font-size: 27px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 3px;
  padding: 0;
  margin: 0; }

h2 {
  font-size: 18px;
  color: #fff;
  font-weight: 300; }

h3 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px; }

hr {
  border-top: 1px solid #2d96d3;
  border-bottom: none; }

#cal {
  position: relative; }

.block-ui {
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 40;
  transition: opacity .7s ease;
  background: repeating-linear-gradient(-55deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85) 10px, rgba(255, 255, 255, 0.95) 10px, rgba(255, 255, 255, 0.95) 20px); }
  .block-ui i {
    font-size: 8em;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0 0 4px #ccc; }

.show-ui {
  opacity: 0; }

.title {
  color: #fff;
  padding-top: 18px;
  text-align: center; }

.title p {
  border-top: dotted 1px #565656;
  color: #565656;
  padding-bottom: 0px; }

.shift {
  padding-top: 18px; }

.truckCon {
  background: #292929;
  padding: 10px;
  margin-bottom: 5px; }

header {
  background: #292929;
  padding: 10px 0 10px 0; }

.truckingCal {
  background-color: #333; }

.shadow {
  -webkit-box-shadow: inset -10px 1px 11px -4px #000000;
  -moz-box-shadow: inset -10px 1px 11px -4px #000000;
  -o-box-shadow: inset -10px 1px 11px -4px #000000;
  box-shadow: inset -10px 1px 11px -4px #000000;
  height: 0px;
  overflow: auto;
  overflow-x: hidden; }

p {
  line-height: 1.6;
  margin-bottom: .5rem; }

a {
  color: #fff;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer; }
  a:hover, a:focus {
    color: #1585cf; }
  a:visited {
    color: #fff; }

.accordion-title {
  display: block;
  padding: 1.25rem .55rem;
  line-height: 1;
  font-size: 0.95rem;
  color: #1585cf;
  position: relative;
  background: #292929;
  border-bottom: 1px solid #e6e6e6; }
  .accordion-title:hover, .accordion-title:focus {
    color: #fff;
    background-color: #1585cf; }

.flex-video {
  padding-bottom: 70%; }

#map_canvas {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%; }

.show-routes {
  opacity: 1 !important; }

.select-route {
  visibility: hidden;
  padding: 0.8rem .55rem 0;
  line-height: 1;
  font-size: 0.95rem;
  color: #1585cf;
  position: relative;
  background: #292929;
  border: 1px solid #e6e6e6;
  margin-bottom: 0.8rem;
  max-height: 400px;
  transition: max-height 1.5s ease;
  overflow: hidden; }
  .select-route span {
    display: block; }

.collapse-route-select {
  max-height: 0; }

.route-wrapper li {
  padding: 10px;
  background-color: white;
  margin-bottom: 5px;
  border: thin solid white; }

.route-color {
  padding: 4px; }

.active-route {
  background-color: #095ae6 !important; }

.route-select {
  float: right;
  width: 70%;
  margin-bottom: 0;
  background-color: #969696; }

/*# sourceMappingURL=main.css.map */
