/* Scss Document */

$font_c: #242424;
$header1: 22px;
$header2: 20px;
$header3: 18px;

header h1 {
	margin-top: 43px;
	font-size: $header1;
	font-weight: 300;
	color: #E4E4E4;
}

input {
	padding: 8px;
	width: 100%;
	margin-bottom: 15px;	
}

h2 {
	font-size: $header2;
	font-weight: 500;	
}

h3 {
	font-size: $header2;
	font-weight: 300;		
}

.hide {
	display: none;	
}

.show {
	display: block;	
}

.truckCon {
	background: #292929;
	padding: 10px;
	margin-bottom: 5px;	
}

header {
	background: #292929;
	padding: 10px 0 10px 0;	
}

.truckingCal {
	margin-top: 25px;	
}

