/* Scss Document */

$font_c: #242424;
$header1: 27px;
$header2: 18px;
$header3: 18px;
$marginSpacing: 15px;
$header-color: #fff;

	body {
		padding: 0;
		margin: 0;
		font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
		font-weight: normal;
		line-height: 1.5;
		color: #0a0a0a;
		background: #333;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 14px;	
	}

	.pac-item { color: #333 !important; }

	.address-control { 
		font-size: 14px;

		.pac-item { color: #333 !important; }
	}
	
	header h1 {
		margin-top: 43px;
		font-size: $header1;
		font-weight: 300;
		color: #E4E4E4;
	}

	.testclass {
		color: blue;
	}
	
	input {
		padding: 8px;
		width: 100%;
		margin-bottom: 15px;	
	}
	
	select {
		height: 2.2375rem;
		padding: 0.35rem;	
		font-size: .85rem;
	}
	
	.title h2, .title2 h2 {
		font-size: $header1;
		font-weight: 300;
		color: $header-color;
		letter-spacing: 3px;	
		padding: 0;
		margin: 0;
	}
	
	h2 {
		font-size: $header2;
		color: $header-color;
		font-weight: 300;
	}
	
	h3 {
		font-size: $header2;
		font-weight: 300;
		margin-top: $marginSpacing;		
	}
	
	hr {
		border-top: 1px solid #2d96d3;
		border-bottom: none;
		margin: .85rem auto;
	}

	#cal { position: relative; }

	#dt { width: 100%; }
	
	.title {
		color: #fff;	
		padding-top: 18px;
		text-align: center;
	}
	
	.title2 {
		color: #fff;	
		padding-top: 8px;
		text-align: center;
	}
	
	.title p, .title2 p {
		border-top: dotted 1px #565656;	
		color: #565656;
		padding-bottom: 0px;
	}
	
	.shift {
		padding-top: 18px;
	}
	
	.truckCon {
		background: #292929;
		padding: 10px;
		margin-bottom: 5px;	
	}
	
	header {
		background: #292929;
		padding: 10px 0 10px 0;	
	}
	
	.truckingCal {
		background-color: #333;
	}
	
	.shadow{
		-webkit-box-shadow: inset -10px 1px 11px -4px #000000;
		-moz-box-shadow: inset -10px 1px 11px -4px #000000;
		-o-box-shadow: inset -10px 1px 11px -4px #000000;
		box-shadow: inset -10px 1px 11px -4px #000000;
		height: 100vh;
		overflow: auto;
		overflow-x: hidden;
	}
	
	p {
		line-height: 1.6;
		margin-bottom: .5rem;	
	}
	
	a {
	  color: #fff;
	  text-decoration: none;
	  line-height: inherit;
	  cursor: pointer; 
	  &:hover, &:focus { 
		color: #1585cf;
	  }
	  &:visited {
			color: #fff;  
	  }
	}
	
	.accordion-title {
	  display: block;
	  padding: 1.25rem .55rem;
	  line-height: 1;
	  font-size: 0.95rem;
	  color: #1585cf;
	  position: relative;
	  background: #292929;
	  border-bottom: 1px solid #e6e6e6; 
		&:hover, &:focus {
		color: #fff;
		background-color: #1585cf;
		}  
	}
	
	.flex-video {
		padding-bottom: 70%;
	}
	
	#map_canvas { 
	  position: absolute;
	  z-index: 0; 
	  width: 100%;
	  height: 100%;
	}

.show-routes { opacity: 1 !important; }

.select-route {
	visibility: hidden;
	padding: 0.8rem .55rem 0;
	line-height: 1;
	font-size: 0.95rem;
	color: #1585cf;
	position: relative;
	background: #292929;
	border: 1px solid #e6e6e6;
	margin-bottom: 0.8rem;
	max-height: 400px;
	transition: max-height 1.5s ease;
	overflow: hidden;

	span { display: block; }
}

.collapse-route-select { max-height: 0; }

.route-wrapper li {
	padding: 10px;
	background-color: white;
	margin-bottom: 5px;
	border: thin solid white;
}

.route-color {
	padding: 4px;
}

.active-route { background-color: rgb(45,150,211) !important; }

.route-select {
	width: 100%;
    margin-bottom: 8px;
    background-color: rgb(150, 150, 150);
}

.alt-routes button:last-of-type { margin-bottom: 0; }

.create-route-button { 
	border: 1px solid #e6e6e6; 
	margin-top: 30px; 
	padding: 1.25em 1em; font-size: 0.95rem; 
}

.hours-options {

	li {  
		cursor: pointer;
		padding: 0.5rem 1rem;
	}

	li:hover { background-color: rgba(220,170,88,0.85); }

	li:first-child { margin-top: 0; }
	li:last-child { margin-bottom: 0; }
}

.hours-content { padding: 0; }

.hours-badge { margin-left: 8px; font-style: italic; }


.cal2 h2 {
	padding-top: 10px;
	color: #E7E7E7;
	font-weight: 400;
}

.cal2 h3 {
	color: #E7E7E7;
}

.cal2 p {
	color: #878787;
}

.panel {
	background: #3B3B3B;
	padding: 10px 15px 10px 15px;
	border: 1px solid #8B8B8B;
	margin-top: 30px;
}

.panel:last-child {
	margin-bottom: 30px;
}

span:not(.pac-item span) {
	font-weight: 500;
	color: #E7E7E7;	
}

@media screen and (min-width: 50em) {
	
	body {
			font-size: 14px;	
		}
		
	.title p {
		padding-bottom: 15px;
	}
	
	.shift {
		padding-top: 36px;
	}
	
	.panel {
		margin-top: 80px;
	}
	
	.shadow{
		-webkit-box-shadow: inset -10px 1px 11px -4px #000000;
		-moz-box-shadow: inset -10px 1px 11px -4px #000000;
		-o-box-shadow: inset -10px 1px 11px -4px #000000;
		box-shadow: inset -10px 1px 11px -4px #000000;
		height: 100vh;
		overflow: auto;
		overflow-x: hidden;
	}
	
	.panel:last-child {
		margin-bottom: 0px;
	}
	
}